<h1>All the Posts:</h1>

<% @posts.each do |p|%>
<h2><%= p.title %></h2>
<p><%= p.content %></p>
<p>By: <%= p.user.profile.fname %> </p>
	<%= form_for @comment do |f| %> 
		<%=f.label :Title %>
		<%=f.text_field :title %>
		<%=f.label :content %>
		<%=f.text_field :content %>
		<%= hidden_field(:comment, :post_id, :value => p.id) %>
		<%=f.submit :Comment %>
		<%end%>
<p>Comments:</p>
		<% if p.comments %>
			<% p.comments.each do |c|%>
			<p>In reply to: <%= c.post.title %></p>
			<p>By: <%= c.user.profile.fname %> </p>
			<h2><%= c.title %></h2>
			<p><%= c.content %></p>
			<% end %>
		<% end %>
<% end %>