<h1>Create a new post <%= @currentUser.username %>!</h1>

<%= form_for Post.new do |f| %> 
	<%=f.label :Title %>  
	<%=f.text_field :title %>
	<p><%=f.label :Content %>
		<!-- not sure why the sizing for the text field is not working -->
	<%=f.text_field :content, :cols => "50", :rows => "50" %></p>   
	<%=f.submit :Post! %> 
<% end %>