<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %>

<nav>
		<ul id="left">
			<a href="/users/new"><li>Sign Up</li></a>
			<a href="/users"><li>Users</li></a>
			<a href="/profiles"><li>Profile</li></a>
			<a href="/profiles/:id"><li>Your Profile</li></a>
			<a href="/posts/new"><li>New Post</li></a>
			<a href="/posts"><li>Posts</li></a>
			<a href="/login"><li>Login</li></a>
			<a href="/logout"><li>Logout</li></a>
		</ul>
</nav>
<%= yield %>

</body>
</html>
