<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %>
	<nav>
		<a href="">Users</a>
		<a href="">Profile</a>
		<a href="">New Post</a>
		<a href="">Posts</a>
		<a href="">Login</a>
		<a href="">Logout</a>
	</nav>

<%= yield %>

</body>
</html>
